{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <h1>Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="titleInput" class="form-label">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" class="form-control">
      </div>
      <div class="mb-3">
        <label for="dueInput" class="form-label">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" class="form-control">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
    <hr>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due" class="btn btn-secondary">Sort by Due Date</a> |
      <a href="{% url 'index' %}?order=post" class="btn btn-secondary">Sort by Posted Date</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul class="list-group">
        <li class="list-group-item">Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li class="list-group-item">Due at: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li class="list-group-item">Status: <b>Completed</b></li>
        {% else %}
        <li class="list-group-item">Status: <b>Not Completed</b></li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>
